<h1>Pagebook Login</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <p><%= f.password_field :password %></p>
  <p class=""><%= f.submit "Log in" %></p>
<% end %>
