<h1><%= @user.name %>のページ</h1>
<br>
<% if @user.image? %>
  <%= image_tag @user.image.url,size:'200', class: "user-icon" %>
<% else %>
  <%= image_tag "default.jpg", alt: "user-icon", size: "200", class: "user-icon" %>
<% end %>
<p>メールアドレス: <%= @user.email %></p>
<p><%= link_to "new upload", new_feed_path %></p>
<p>
<a><%= link_to 'feed list' , feeds_path %></a> |
<a><%= link_to "favorites list", favorites_path %></a>
</p>
<% if @user.id ==current_user.id %>
  <p><%= link_to 'profile_image' , edit_user_path %></p>
<% end %>
